@import url(http://fonts.googleapis.com/css?family=Syncopate);
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Varela);
@import url(http://fonts.googleapis.com/css?family=Montserrat:100,400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,300italic);
@import "compass/css3/filter";
@import "compass/css3/transform";
@import "compass";
@import "compass/css3/box-sizing";

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin flexbox() {
  // display: -webkit-box;
  // display: -moz-box;
  // display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  // justify-content: center;
  align-items: center;
  // safari, opera, chrome
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  // firefox
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  // IE 10
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;
}

$syncopate:'Syncopate', sans-serif;
$arvo: 'Arvo', serif;
$varela: 'Varela', sans-serif;
$didot:	'Didot', "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
$montserrat: 'Montserrat', sans-serif;
$helvetica-neue: 'Helvetica Neue', sans-serif;
$source: 'Source Sans Pro', sans-serif;
$lucida: 'Lucida Grande', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$slab: 'Josefin Slab', serif;

* {
	@include box-sizing('border-box');
}
html, body {
	height: 100%;
	margin: 0;
}

body {
	left: 0;
	background: whiteSmoke;
	font-family: $didot;
	font-size: 14px;
}
a {
	color: black;
	text-decoration: none;
	cursor: pointer;
	display: block;
}
h2, h3, h4 {
	letter-spacing: 1px;
	font-weight: normal;
	line-height: normal;
	font-family: $josefin;
	text-transform: uppercase;
	margin-top: 0;
}
h2 {
	margin-bottom: 40px;
	line-height: 45px;
	font-size: 35px;
	font-weight: 100;
	letter-spacing: 7px;
	@media (max-width: 767px) {
		margin-bottom: 20px;
	}
}
h3 {
	font-size: 12px;
	background: #F8F8F8;
	padding: 5px;
	margin: 0;
}
img {
	width: 100%;
}
.column-three {
	width: 33.33333%;
	display: inline-block;
	float: left;
	text-align: center;
	@media (max-width: 767px) {
		width: 100%;
		display: block;
		float: none;
		margin-bottom: 30px;
	}
}

.main {
	padding: 0px;
	height: 100%;

	section {
			@include flexbox();
			height: 100%;
			padding: 61px 0 0 0;
			min-height: 400px;
		// @media (min-width: 480px) {
		// 	@include flexbox();
		// 	height: 100%;
		// 	padding: 0px;
		// 	min-height: 650px;
		// }
		position: relative;
	}
	.target {
	   border-top: 60px solid transparent;
	   margin: -30px 0 0;
	   -webkit-background-clip:padding-box;
	   -moz-background-clip:padding;
	   background-clip:padding-box;
	}
	.target:before {
	   content:"";
	   position:absolute;
	}
}

nav {
	background: #eeeeee;
	top: 0;
	z-index: 1000;
	position: fixed;
	left: 0;
	width: 100%;
	font-family: $josefin;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 11px;
	ul {
		text-align: center;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		display: block;
		li {
			display: inline-block;
			a {
				color: #999999;
				padding: 25px;
				@media (max-width: 767px) {
					padding: 15px 5px;
				}
			}
			&:hover {
				background: dimGray;
				a {
					color: white;
				}
			}
		}
	}
}



#home {
	#content-home {
		margin: auto;
		padding-top: 0;
		img {
			width: 150px;
			display: block;
			max-width: 50%;
			margin: auto;
			@media (max-width: 480px) {
				width: 25%;
			}
		} 
	}	
}



// contents
#content-home, #content-about, #content-portfolio, #content-contact {
	position: relative;
	width: 100%;
	@media(max-width: 767px) {
		// padding-top: 41px;
	}
}

// about page //
#about {
	padding-top: 61px;
	@media(max-width: 767px) {
		// padding-top: 0;
		padding-top: 41px;
	}
}
#content-about {
	height: inherit;
	.pic {
		padding: 10px;
		width: 70%;
		height: inherit;
		position: relative;
		top: 0;
		left: 0;
		z-index: -1;
		background: url('../images/about-pic.jpg') center center no-repeat;
		background-size: cover;
		h2 {
			position: absolute;
		}
		@media (max-width: 767px) {
			width: 100%;
			background: url('../images/profile.png') #eeeeee bottom no-repeat;
			background-size: 39px;
			h2 {
				position: relative;
			}
		}
	}
	ul {
		@media (max-width: 767px) {
			left: 0;
			padding: 0;
		}
		display: inline-block;
		position: relative;
		left: 100%;
		list-style: none;
		margin: 0;
		li {
			padding: 2px 0;
			span {
				font-weight: 700;
				margin-right: 10px;
			}
		}
	}
}

// portfolio page //
#content-portfolio {
	max-width: 800px;
	margin: 0px auto;
	text-align: justify;
	h2 {
		text-align: center;
	}
	.devices {
		margin: auto;
		position: relative;
		.imac {
			height: 400px;
			width: auto;
			margin: auto;
			display: block;
			background: url("../images/devices/imac.png");
			padding: 25px 22px 130px 22px;
			background-size: auto 400px;
			background-position: center center;
			background-repeat: no-repeat;
			@media (max-width: 480px) {
				height: 255px;
				padding: 15px 22px 85px 22px;
				background-size: 300px auto;
			}
		}
		.iphone {
			height: 400px;
			width: auto;
			margin: auto;
			display: block;
			background: url("../images/devices/iphone.png");
			padding: 85px 15px;
			background-size: auto 325px;
			background-position: center center;
			background-repeat: no-repeat;
			float: left;
			margin-left: 100px;
			@media (max-width: 480px) {
				padding: 39px 15px 165px 15px;
				background-size: auto 275px;
				background-position: top center;
				float: none;
			}
			~.description {
				opacity: 1;
				margin-left: 0;
				left: 40%;
				top: 75px;
				width: 350px;
				@media (max-width: 480px) {
					background-size: auto 200px;
					top: 240px;
					width: 270px;
					height: 155px;
					left: -135px;
					margin-left: 50%;
				}
			}
		}
		.description {
			z-index: 999;
			position: absolute;
			top: 25px;
			height: 245px;
			width: 428px;
			margin: auto;
			display: block;
			left: -214px;
			margin-left: 50%;
			text-align: center;
			justify-content: center;
			background: white;
			opacity: 0;
			@include flexbox();
			@media (max-width: 480px) {
				width: 270px;
				height: 155px;
				left: -135px;
				top: 220px;
				opacity: 1;
				background: transparent;
			}
			&:hover {
				opacity: 1;
				@include transition(opacity, .5s, ease-in-out);
			}
			.descriptionInner {
				margin: auto;
				@media (max-width: 480px) {
					display: inline-block;
				}
			}
			.title {
				font-size: 13px;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-family: $josefin;
				border-bottom: 1px solid black;
				margin-bottom: 10px;
				padding-bottom: 10px;
			}
			.role {
				font-style: italic;
				font-size: 11px;
			}
			.linkToSite {
				position: absolute;
				bottom: 10px;
				font-size: 11px;
				right: 10px;
				border: 2px solid #666666;
				padding: 5px;
				@media (max-width: 480px) {
					display: inline-block;
					position: relative;
					bottom: 17px;
					right: 0;
					margin-left: 30px;
				}
			}
		}
		// .ipad {
		// 	height: 250px;
		// 	width: auto;
		// }
		// .portfolioIpad {
		// 	height: 203px;
		// 	width: auto;
		// 	position: absolute;
		// 	left: 492px;
		// 	bottom: 29px;
		// }
		// .iphone {
		// 	height: 170px;
		// 	width: auto;
		// 	position: relative;
		// 	left: -50px;
		// }
	}


	// swipe styles //
	.swipe {
	  overflow: hidden;
	  visibility: hidden;
	  position: relative;
	}
	.swipe-wrap {
	  overflow: hidden;
	  position: relative;
	}
	.swipe-wrap > div {
	  float:left;
	  width:100%;
	  position: relative;
	}
	.arrow-prev {
		position: absolute;
		top: 50%;
		margin-left: 10px;
		width: 30px;
		height: 30px;
		background: url("../images/arrow-prev1.png") no-repeat center;
		float: left;
		background-size: cover;
		display: block;
		display: none;
		@media (max-width: 480px) {
			top: 55%;
		}
	}
	.arrow-next {
		position: absolute;
		top: 50%;
		right: 0;
		margin-right: 10px;
		width: 30px;
		height: 30px;
		background: url("../images/arrow-next1.png") no-repeat center;
		float: right;
		background-size: cover;
		@media (max-width: 480px) {
			top: 55%;
		}
	}

}

// resume page  //
#content-resume {
	width: 90%;
	max-width: 800px;
	margin: 50px auto;
	text-align: justify;
}

//  contact page  //
#content-contact {
	max-width: 800px;
	margin: 0px auto;
	h2 {
		text-align: center;
	}
	.social-media {
		ul {
			list-style-type: none;
			padding: 0;
			text-align: center;
			li {
				display: inline-block;
				img {
					@include filter(invert(100%));
					height: 15px;
					width: auto;
					margin: auto 10px;
				}
				a:hover {
					img {
						@include filter(invert(30%));
						@include transition(all, .3s, ease-in-out);
					}
				}
			}
		}
	}
}