@import url(http://fonts.googleapis.com/css?family=Syncopate);
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Varela);
@import url(http://fonts.googleapis.com/css?family=Montserrat:100,400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,300italic);
@import "compass/css3/filter";
@import "compass/css3/transform";
@import "compass";
@import "compass/css3/box-sizing";

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  // justify-content: center;
  align-items: center;
}

$syncopate:'Syncopate', sans-serif;
$arvo: 'Arvo', serif;
$varela: 'Varela', sans-serif;
$didot:	'Didot', "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
$montserrat: 'Montserrat', sans-serif;
$helvetica-neue: 'Helvetica Neue', sans-serif;
$source: 'Source Sans Pro', sans-serif;
$lucida: 'Lucida Grande', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$slab: 'Josefin Slab', serif;

html, body {
	height: 100%;
	margin: 0;
}

body {
	left: 0;
	background: whiteSmoke;
	font-family: $slab;
	font-size: 14px;
}
a {
	color: black;
	text-decoration: none;
	cursor: pointer;
	display: block;
}
h2, h3, h4 {
	letter-spacing: 1px;
	font-weight: normal;
	line-height: normal;
	font-family: $josefin;
	text-transform: uppercase;
	margin-top: 0;
}
h2 {
	margin-bottom: 40px;
	line-height: 45px;
	font-size: 35px;
	font-weight: 100;
	letter-spacing: 7px;
	@media (max-width: 767px) {
		margin-bottom: 30px;
	}
}
h3 {
	font-size: 12px;
	background: #F8F8F8;
	padding: 5px;
	margin: 0;
}
img {
	width: 100%;
}
.column-three {
	width: 33.33333%;
	display: inline-block;
	float: left;
	text-align: center;
	@media (max-width: 767px) {
		width: 100%;
		display: block;
		float: none;
		margin-bottom: 30px;
	}
}
// .number {
// 	position: absolute;
// 	font-size: 100px;
// 	top: 0;
// 	left: -25px;
// 	margin: 0;
// 	font-family: $didot;
// 	font-weight: 900;
// 	z-index: -999;
// }

.main {
	padding: 0px;
	height: 100%;
	@media (max-width: 767px) {
		padding: 40px 20px;
	}

	section {
		@media (min-width: 767px) {
			@include flexbox();
			@include box-sizing('border-box');
			height: 100%;
			padding: 61px 0px 0px 0px;
			min-height: 650px;
		}
		position: relative;
		padding: 0 0 100px 0;
	}
	.target {
	   border-top: 60px solid transparent;
	   margin: -30px 0 0;
	   -webkit-background-clip:padding-box;
	   -moz-background-clip:padding;
	   background-clip:padding-box;
	}
	.target:before {
	   content:"";
	   position:absolute;
	}
}

nav {
	background: #eeeeee;
	top: 0;
	z-index: 1000;
	position: fixed;
	box-sizing: border-box;
	left: 0;
	width: 100%;
	font-family: $josefin;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 11px;
	ul {
		text-align: center;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		display: block;
		li {
			display: inline-block;
			a {
				color: #999999;
				padding: 25px;
				@media (max-width: 767px) {
					padding: 15px 5px;
				}
			}
			&:hover {
				background: dimGray;
				a {
					color: white;
				}
			}
		}
	}
}



#home{
	div {
		margin: auto;
		background: #eeeeee;
		img {
			width: 200px;
			display: block;
			max-width: 51%;
			margin: auto;
		} 
	}
	
}



// contents
#content-about, #content-portfolio, #content-contact {
	position: relative;
	width: 100%;
	@media(max-width: 767px) {
		padding-top: 55px;
	}
}

// about page //
#content-about {
	height: inherit;
	.pic {
		width: 70%;
		height: inherit;
		background: #eeeeee;
		position: relative;
		top: 0;
		left: 0;
		z-index: -1;
		h2 {
			position: absolute;
		}
		@media (max-width: 767px) {
			width: 100%;
			h2 {
				position: relative;
			}
		}
	}
	ul {
		@media (max-width: 767px) {
			// max-width: 250px;
			// margin: 80px auto 0 auto;
			left: 0;
			padding: 0;
		}
		display: inline-block;
		position: relative;
		left: 100%;
		list-style: none;
		padding: 30px;
		margin: 0;
		li {
			padding: 2px 0;
			span {
				font-weight: 700;
				margin-right: 10px;
			}
		}
	}
}

// portfolio page //
#content-portfolio {
	width: 90%;
	max-width: 800px;
	margin: 0px auto;
	text-align: justify;
	h2 {
		text-align: center;
	}
	.devices {
		margin: auto;
		.imac {
			height: 400px;
			width: auto;
			z-index: -9;
			display: block;
			margin: auto;
		}
		.portfolioLink {
			position: absolute;
			height: 240px;
			width: auto;
			left: 50%;
			bottom: 137px;
			border: 1px solid #808080;
			box-sizing: border-box;
			margin-left: -207px;
		}
		.ipad {
			height: 250px;
			width: auto;
		}
		.portfolioIpad {
			height: 203px;
			width: auto;
			position: absolute;
			left: 492px;
			bottom: 29px;
		}
		.iphone {
			height: 170px;
			width: auto;
			position: relative;
			left: -50px;
		}
	}
	.portfolio-box {
		height: 230px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		max-width: 400px;
		margin: auto;
		padding: 10px;
		@include flexbox();
		@media (max-width: 480px) {
			height: 140px;
		}
		.title {
			width: 100%;
			height: 100%;
			margin: auto;
			@include flexbox();
			@include box-sizing('border-box');
			background: #EEEEEE;
			justify-content: center;
			opacity: 0;
			&:hover {
				opacity: .8;
				@include transition(all, .3s, ease-in-out);
			}
		}
	}
}

// resume page  //
#content-resume {
	width: 90%;
	max-width: 800px;
	margin: 50px auto;
	text-align: justify;
}

//  contact page  //
#content-contact {
	width: 90%;
	max-width: 800px;
	margin: 0px auto;
	h2 {
		text-align: center;
	}
	.social-media {
		ul {
			list-style-type: none;
			padding: 0;
			text-align: center;
			li {
				display: inline-block;
				img {
					@include filter(invert(100%));
					height: 15px;
					width: auto;
					margin: auto 5px;
					padding: 5px;
				}
				a:hover {
					img {
						@include filter(invert(30%));
						@include transition(all, .3s, ease-in-out);
					}
				}
			}
		}
	}

	form {
		@media (max-width: 767px) {
			margin-top: 20px;
			// display: none;
		}
	}
}