@import url(http://fonts.googleapis.com/css?family=Syncopate);
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Varela);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700);
/* line 36, ../sass/style.scss */
html, body {
  height: 100%;
  margin: 0;
}

/* line 41, ../sass/style.scss */
body {
  left: 0;
  background: #F8F8F8;
  font-family: "Lucida Grande", sans-serif;
  font-size: 11px;
}

/* line 47, ../sass/style.scss */
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

/* line 53, ../sass/style.scss */
h2, h3, h4 {
  letter-spacing: 1px;
  font-weight: normal;
  line-height: normal;
  font-family: "Varela", sans-serif;
  text-transform: uppercase;
}

/* line 60, ../sass/style.scss */
h2 {
  font-size: 17px;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  /* line 60, ../sass/style.scss */
  h2 {
    margin-bottom: 30px;
  }
}

/* line 68, ../sass/style.scss */
h3 {
  font-size: 12px;
  background: #F8F8F8;
  padding: 5px;
  margin: 0;
}

/* line 74, ../sass/style.scss */
.title {
  border: 1px solid #666666;
  display: inline-block;
  background: white;
  padding: 10px 15px;
}

/* line 80, ../sass/style.scss */
img {
  width: 100%;
}

/* line 83, ../sass/style.scss */
.column-three {
  width: 33.33333%;
  display: inline-block;
  float: left;
  text-align: center;
}
@media (max-width: 767px) {
  /* line 83, ../sass/style.scss */
  .column-three {
    width: 100%;
    display: block;
    float: none;
    margin-bottom: 30px;
  }
}

/* line 95, ../sass/style.scss */
.number {
  position: absolute;
  font-size: 100px;
  top: 0;
  left: -25px;
  margin: 0;
  font-family: "Didot", "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: 900;
  z-index: -999;
}

/* line 106, ../sass/style.scss */
.main {
  padding: 30px 50px;
  height: 100%;
}
@media (max-width: 767px) {
  /* line 106, ../sass/style.scss */
  .main {
    padding: 40px;
  }
}
/* line 113, ../sass/style.scss */
.main section {
  position: relative;
  padding: 0 0 100px 0;
}
@media (min-width: 767px) {
  /* line 113, ../sass/style.scss */
  .main section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    padding: 0;
  }
}
/* line 122, ../sass/style.scss */
.main .target {
  border-top: 60px solid transparent;
  margin: -30px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
/* line 129, ../sass/style.scss */
.main .target:before {
  content: "";
  position: absolute;
}

/* line 134, ../sass/style.scss */
.body-border {
  border: 7px solid #444;
  position: fixed;
  z-index: 99999;
}
@media (max-width: 480px) {
  /* line 134, ../sass/style.scss */
  .body-border {
    border: 5px solid #444;
  }
}

/* line 142, ../sass/style.scss */
#left {
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

/* line 148, ../sass/style.scss */
#right {
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
}

/* line 154, ../sass/style.scss */
#bottom {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 160, ../sass/style.scss */
#top {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

/* line 167, ../sass/style.scss */
nav {
  background: white;
  top: 14px;
  z-index: 1000;
  position: fixed;
  box-sizing: border-box;
  left: 0;
  padding: 0 14px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
@media (max-width: 480px) {
  /* line 167, ../sass/style.scss */
  nav {
    top: 10px;
    padding: 0 14px;
  }
}
/* line 184, ../sass/style.scss */
nav ul {
  text-align: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: block;
}
/* line 190, ../sass/style.scss */
nav ul li {
  padding: 15px;
  display: inline-block;
}
@media (max-width: 767px) {
  /* line 190, ../sass/style.scss */
  nav ul li {
    padding: 15px 5px;
  }
}

@media (max-width: 767px) {
  /* line 201, ../sass/style.scss */
  #content-about, #content-portfolio, #content-contact {
    padding-top: 55px;
  }
}

/* line 208, ../sass/style.scss */
#content-about {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  text-align: justify;
}
/* line 213, ../sass/style.scss */
#content-about #pie {
  display: block;
  margin: auto;
}
/* line 217, ../sass/style.scss */
#content-about #face {
  height: 200px;
  width: auto;
  display: block;
  margin: auto;
  -webkit-filter: saturate(70%);
  -moz-filter: saturate(70%);
  filter: saturate(70%);
}
/* line 224, ../sass/style.scss */
#content-about #topics {
  background-image: -webkit-linear-gradient(-45deg, #f0cd5b 0%, #f0cd5b 50%, #edb600 51%, #edb600 100%);
  background-image: -moz-linear-gradient(-45deg, #f0cd5b 0%, #f0cd5b 50%, #edb600 51%, #edb600 100%);
  background-image: -o-linear-gradient(-45deg, #f0cd5b 0%, #f0cd5b 50%, #edb600 51%, #edb600 100%);
  background-image: linear-gradient(-45deg, #f0cd5b 0%, #f0cd5b 50%, #edb600 51%, #edb600 100%);
  width: 200px;
  height: 200px;
  margin: auto;
}
/* line 229, ../sass/style.scss */
#content-about #topics ul {
  margin: 0 auto;
  list-style: none;
  padding: 5px 0;
}
/* line 233, ../sass/style.scss */
#content-about #topics ul li {
  padding: 3px 0;
}

/* line 242, ../sass/style.scss */
#content-portfolio {
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
  text-align: justify;
}
/* line 247, ../sass/style.scss */
#content-portfolio .portfolio-box {
  width: 100%;
  height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 400px;
  margin: auto;
}
@media (max-width: 480px) {
  /* line 247, ../sass/style.scss */
  #content-portfolio .portfolio-box {
    height: 140px;
  }
}

/* line 269, ../sass/style.scss */
#content-resume {
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
  text-align: justify;
}

/* line 277, ../sass/style.scss */
#content-contact {
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
  text-align: justify;
}
/* line 284, ../sass/style.scss */
#content-contact .social-media ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
/* line 288, ../sass/style.scss */
#content-contact .social-media ul li {
  display: inline-block;
}
/* line 290, ../sass/style.scss */
#content-contact .social-media ul li img {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  filter: invert(100%);
  height: 15px;
  width: auto;
  margin: auto 5px;
  padding: 5px;
}
/* line 298, ../sass/style.scss */
#content-contact .social-media ul li a:hover img {
  -webkit-filter: invert(30%);
  -moz-filter: invert(30%);
  filter: invert(30%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  /* line 307, ../sass/style.scss */
  #content-contact form {
    margin-top: 20px;
  }
}
/* line 312, ../sass/style.scss */
#content-contact form input, #content-contact form textarea, #content-contact form button {
  letter-spacing: 1px;
  max-width: 100%;
  width: 350px;
  resize: none;
  border-style: none;
  border: 1px solid #D8D8D8;
  padding: 20px 10px;
  font-size: 11px;
  margin: -1px auto;
  border-radius: 0;
  display: block;
  box-sizing: border-box;
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  text-transform: uppercase;
  color: black;
  background-color: transparent;
}
@media (max-width: 767px) {
  /* line 312, ../sass/style.scss */
  #content-contact form input, #content-contact form textarea, #content-contact form button {
    padding: 10px;
  }
}
/* line 336, ../sass/style.scss */
#content-contact form textarea {
  height: 200px;
}
/* line 339, ../sass/style.scss */
#content-contact form button {
  border: none !important;
  background: #D8D8D8;
}
