@import url(http://fonts.googleapis.com/css?family=Syncopate);
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Varela);
@import url(http://fonts.googleapis.com/css?family=Montserrat:100,400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,300italic);
/* line 41, ../sass/style.scss */
html, body {
  height: 100%;
  margin: 0;
}

/* line 46, ../sass/style.scss */
body {
  left: 0;
  background: whiteSmoke;
  font-family: "Josefin Slab", serif;
  font-size: 14px;
}

/* line 52, ../sass/style.scss */
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

/* line 58, ../sass/style.scss */
h2, h3, h4 {
  letter-spacing: 1px;
  font-weight: normal;
  line-height: normal;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  margin-top: 0;
}

/* line 66, ../sass/style.scss */
h2 {
  margin-bottom: 40px;
  line-height: 45px;
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 7px;
}
@media (max-width: 767px) {
  /* line 66, ../sass/style.scss */
  h2 {
    margin-bottom: 30px;
  }
}

/* line 76, ../sass/style.scss */
h3 {
  font-size: 12px;
  background: #F8F8F8;
  padding: 5px;
  margin: 0;
}

/* line 82, ../sass/style.scss */
img {
  width: 100%;
}

/* line 85, ../sass/style.scss */
.column-three {
  width: 33.33333%;
  display: inline-block;
  float: left;
  text-align: center;
}
@media (max-width: 767px) {
  /* line 85, ../sass/style.scss */
  .column-three {
    width: 100%;
    display: block;
    float: none;
    margin-bottom: 30px;
  }
}

/* line 108, ../sass/style.scss */
.main {
  padding: 0px;
  height: 100%;
}
@media (max-width: 767px) {
  /* line 108, ../sass/style.scss */
  .main {
    padding: 40px 20px;
  }
}
/* line 115, ../sass/style.scss */
.main section {
  position: relative;
  padding: 0 0 100px 0;
}
@media (min-width: 767px) {
  /* line 115, ../sass/style.scss */
  .main section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 61px 0px 0px 0px;
    min-height: 650px;
  }
}
/* line 126, ../sass/style.scss */
.main .target {
  border-top: 60px solid transparent;
  margin: -30px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
/* line 133, ../sass/style.scss */
.main .target:before {
  content: "";
  position: absolute;
}

/* line 139, ../sass/style.scss */
nav {
  background: #eeeeee;
  top: 0;
  z-index: 1000;
  position: fixed;
  box-sizing: border-box;
  left: 0;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
}
/* line 152, ../sass/style.scss */
nav ul {
  text-align: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: block;
}
/* line 158, ../sass/style.scss */
nav ul li {
  display: inline-block;
}
/* line 160, ../sass/style.scss */
nav ul li a {
  color: #999999;
  padding: 25px;
}
@media (max-width: 767px) {
  /* line 160, ../sass/style.scss */
  nav ul li a {
    padding: 15px 5px;
  }
}
/* line 167, ../sass/style.scss */
nav ul li:hover {
  background: dimGray;
}
/* line 169, ../sass/style.scss */
nav ul li:hover a {
  color: white;
}

/* line 180, ../sass/style.scss */
#home div {
  margin: auto;
  background: #eeeeee;
}
/* line 183, ../sass/style.scss */
#home div img {
  width: 200px;
  display: block;
  max-width: 51%;
  margin: auto;
}

/* line 196, ../sass/style.scss */
#content-about, #content-portfolio, #content-contact {
  position: relative;
  width: 100%;
}
@media (max-width: 767px) {
  /* line 196, ../sass/style.scss */
  #content-about, #content-portfolio, #content-contact {
    padding-top: 55px;
  }
}

/* line 205, ../sass/style.scss */
#content-about {
  height: inherit;
}
/* line 207, ../sass/style.scss */
#content-about .pic {
  width: 70%;
  height: inherit;
  background: #eeeeee;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}
/* line 215, ../sass/style.scss */
#content-about .pic h2 {
  position: absolute;
}
@media (max-width: 767px) {
  /* line 207, ../sass/style.scss */
  #content-about .pic {
    width: 100%;
  }
  /* line 220, ../sass/style.scss */
  #content-about .pic h2 {
    position: relative;
  }
}
/* line 225, ../sass/style.scss */
#content-about ul {
  display: inline-block;
  position: relative;
  left: 100%;
  list-style: none;
  padding: 30px;
  margin: 0;
}
@media (max-width: 767px) {
  /* line 225, ../sass/style.scss */
  #content-about ul {
    left: 0;
    padding: 0;
  }
}
/* line 238, ../sass/style.scss */
#content-about ul li {
  padding: 2px 0;
}
/* line 240, ../sass/style.scss */
#content-about ul li span {
  font-weight: 700;
  margin-right: 10px;
}

/* line 249, ../sass/style.scss */
#content-portfolio {
  width: 90%;
  max-width: 800px;
  margin: 0px auto;
  text-align: justify;
}
/* line 254, ../sass/style.scss */
#content-portfolio h2 {
  text-align: center;
}
/* line 257, ../sass/style.scss */
#content-portfolio .devices {
  margin: auto;
}
/* line 259, ../sass/style.scss */
#content-portfolio .devices .imac {
  height: 400px;
  width: auto;
  z-index: -9;
  display: block;
  margin: auto;
}
/* line 266, ../sass/style.scss */
#content-portfolio .devices .portfolioLink {
  position: absolute;
  height: 240px;
  width: auto;
  left: 50%;
  bottom: 137px;
  border: 1px solid #808080;
  box-sizing: border-box;
  margin-left: -207px;
}
/* line 276, ../sass/style.scss */
#content-portfolio .devices .ipad {
  height: 250px;
  width: auto;
}
/* line 280, ../sass/style.scss */
#content-portfolio .devices .portfolioIpad {
  height: 203px;
  width: auto;
  position: absolute;
  left: 492px;
  bottom: 29px;
}
/* line 287, ../sass/style.scss */
#content-portfolio .devices .iphone {
  height: 170px;
  width: auto;
  position: relative;
  left: -50px;
}
/* line 294, ../sass/style.scss */
#content-portfolio .portfolio-box {
  height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 400px;
  margin: auto;
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
@media (max-width: 480px) {
  /* line 294, ../sass/style.scss */
  #content-portfolio .portfolio-box {
    height: 140px;
  }
}
/* line 306, ../sass/style.scss */
#content-portfolio .portfolio-box .title {
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #EEEEEE;
  justify-content: center;
  opacity: 0;
}
/* line 315, ../sass/style.scss */
#content-portfolio .portfolio-box .title:hover {
  opacity: .8;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 324, ../sass/style.scss */
#content-resume {
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
  text-align: justify;
}

/* line 332, ../sass/style.scss */
#content-contact {
  width: 90%;
  max-width: 800px;
  margin: 0px auto;
}
/* line 336, ../sass/style.scss */
#content-contact h2 {
  text-align: center;
}
/* line 340, ../sass/style.scss */
#content-contact .social-media ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
/* line 344, ../sass/style.scss */
#content-contact .social-media ul li {
  display: inline-block;
}
/* line 346, ../sass/style.scss */
#content-contact .social-media ul li img {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  filter: invert(100%);
  height: 15px;
  width: auto;
  margin: auto 5px;
  padding: 5px;
}
/* line 354, ../sass/style.scss */
#content-contact .social-media ul li a:hover img {
  -webkit-filter: invert(30%);
  -moz-filter: invert(30%);
  filter: invert(30%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  /* line 363, ../sass/style.scss */
  #content-contact form {
    margin-top: 20px;
  }
}
