extends ../layout
include ../about
include ../portfolio
//- include ../resume
include ../contact
//- include ../travel

block content
	section
		+about
	section
		+portfolio
	//- section
		//- +resume
	//- section#travel
	//- 	+travel
	section
		+contact