extends ../layout

block content
	div#page-slides
		div
		img(src="http://farm9.staticflickr.com/8071/8314985845_f841f0373e.jpg" alt="v2012-22")
		img(src="http://farm9.staticflickr.com/8500/8314980475_c00b984df1.jpg" alt="v2012-26")