extends ../layout
include ../about
include ../portfolio
//- include ../resume
include ../contact
//- include ../travel

block content
	section#home
		div
			img(src="images/x/vsco_1.jpg")
			img(src="images/x/vsco_3.jpg")
			img(src="images/x/vsco_10.jpg")
	section#about
		+about
	section#portfolio
		+portfolio
	//- section
		//- +resume
	//- section#travel
	//- 	+travel
	section#contact
		+contact