mixin about()
	div#content-about.row-fluid
		div.picture.span5.offset1
			img(src="images/profile_1.jpg")
			.caption Spice Market | Istanbul, Turkey
		div.span4.offset1
			h2 In a nutshell: Angela Park
			.description
				p I'm a Los Angeles / Orange County based front-end web developer.  When I'm not sitting in front of a computer, you can find me:
					ul
						li exercising (ballet, yoga, walking, etc).
						li on my massage chair watching HGTV.
						li sitting in a window seat aboard a plane to my next destination.
						li with a camera attached to my face
						li trying to fit in with hipsters at various hipster hangouts