mixin about()
	div#content-about
		div.pic
			h2 ANGELA
				br
				| HAEKYUNG
				br
				| PARK
			ul
				li
					.title Occupation
					.role WEB DEVELOPER
				li
					.title Graduated from
					.role UC SANTA BARBARA
				li
					.title Residence
					.role CALIFORNIA
