mixin about()
	div#content-about
		div.pic
			h2 ANGELA
				br
				| HAEKYUNG
				br
				| PARK
			ul
				li
					span Occupation
					| Web Developer
				li
					span Graduated from
					| UC Santa Barbara
				li
					span Residence
					| California
				li
