mixin about()
	- var topics = ['HGTV', 'NPR', 'TED talks', 'God', 'travel', 'health', 'korean shows & music', 'board games', 'design', 'dance']

	.number.target#about 1
	div#content-about
		h2 ANGELA HAEKYUNG PARK
		ul
			li
				b OCCUPATION
				| : WEB DEVELOPER
			li
				b RESIDENCE
				| : CALIFORNIA
			li 
				b BIRTHDATE
				| : NOVEMBER 25, 1988