mixin contact()
	div#content-contact.row-fluid
		form
			input(type="text" placeholder="NAME")
			input(type="email" placeholder="EMAIL")
			textarea(placeholder="MESSAGE")
			button(type="submit") SEND