mixin contact()
	- var socialObject = {'facebook': 'http://www.facebook.com/angelahpark', 'tumblr': 'http://www.angelahpark.tumblr.com', 'vsco': 'http://angelahpark.vsco.co/', 'linkedin': 'http://www.linkedin.com/pub/angela-park/40/147/376/', 'pinterest': 'http://www.pinterest.com/angelahpark', 'email': 'mailto:ahaekyungp@gmail.com'}
	div#content-contact
		h2 get in touch
		div.social-media
			ul
				each link, image in socialObject
					li
						a(href=link)
							img(src="images/social/" + image + ".png")
	script
