mixin contact()
	- var socialObject = {'facebook': 'http://www.facebook.com/angelahpark', 'tumblr': 'http://www.angelahpark.tumblr.com', 'instagram': 'http://www.instagram.com/angelahpark', 'linkedin': 'http://www.linkedin.com/pub/angela-park/40/147/376/', 'pinterest': 'http://www.pinterest.com/angelahpark'}
	.number.target#contact 3
	div#content-contact
		h2 get in touch
		div.social-media
			ul
				each link, image in socialObject
					li
						a(href=link)
							img(src="images/social/" + image+ ".png")
		//- form(action='/', name='contactme', id='contactme', method='post')
		//- 	input(type="text", placeholder="NAME", name='name', value='', id='name')
		//- 	input(type="email", placeholder="EMAIL", name='email', value='', id='email')
		//- 	textarea(placeholder="MESSAGE" name='message' id="message")
		//- 	button(name='submit', type='submit', value='Send', id='submit') SEND
		//- if(typeof msg !== 'undefined')
		//-   if(!!err)
		//-     div(class='msgbox err') #{msg}
		//-   else
		//-     div(class='msgbox success') #{msg}
	script
