!!! 5
html(lang="en")
  head
    title AHP
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="/js/jquery.slides.js")
    link(rel="shortcut icon", href="/favicon.ico")
  body
    header
      h1#title ANGELAHPARK
      nav.hidden-phone
        ul.row-fluid.slidesjs-pagination
          li.span3.slidesjs-pagination-item
            a(href="#" data-slidesjs-item="0") ABOUT
          li.span3.slidesjs-pagination-item
            a(href="#" data-slidesjs-item="1") PORTFOLIO
          li.span3.slidesjs-pagination-item
            a(href="#" data-slidesjs-item="2") RESUME
          li.span3.slidesjs-pagination-item
            a(href="#" data-slidesjs-item="3") CONTACT
    .container
      main#main
        block content
      footer#footer
    script
      $(function(){
        $("#page-slides").slidesjs({
          pagination: {
            active: false
          }
        });

        $("nav a").bind('click', function(){
          event.preventDefault();
          $('#page-slides').slidesjs("goto", $(this).attr("data-slidesjs-item") * 1 + 1);
        });

      });