!!! 5
html(lang="en")
  head
    title AHP
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="/js/swipe.js")
    link(rel="shortcut icon", href="/favicon.ico")
  body
    header
      h1(href="/")#title ANGELAHPARK
      nav.hidden-phone
        ul.row-fluid
          li.span3.about
            a(href="#") ABOUT
          li.span3.portfolio
            a(href="#") PORTFOLIO
          li.span3.resume
            a(href="#") RESUME
          li.span3.contact
            a(href="#") CONTACT
      nav.visible-phone
        ul
          li.about
            | ABOUT
          li.portfolio
            | PORTFOLIO
          li.resume
            | RESUME
          li.contact
            | CONTACT
    .container
      main#main
        block content
      footer#footer
    script
      window.mySwipe = Swipe(document.getElementById('page-slides'), {
          continuous: false,
          callback: function(index, elem) {
            console.log(elem);
            switch(index) {
              case 0:
                $('.arrow-prev').hide();
                $('.arrow-next').show();
                $('nav.visible-phone li:not(".about")').hide();
                $('nav.visible-phone li.about').show();
                break;
              case 1:
                $('.arrow-prev, .arrow-next').show();
                $('nav.visible-phone li:not(".portfolio")').hide();
                $('nav.visible-phone li.portfolio').show();
                break;
              case 2:
                $('.arrow-prev, .arrow-next').show();
                $('nav.visible-phone li:not(".resume")').hide();
                $('nav.visible-phone li.resume').show();
                break;
              case 3:
                $('.arrow-next').hide();
                $('.arrow-prev').show();
                $('nav.visible-phone li:not(".contact")').hide();
                $('nav.visible-phone li.contact').show();
                break;
            }
          }
        });
      $(function() {
        // links arrows
        $(".arrow-next").click(function(e) {
          e.preventDefault();
          mySwipe.next();
        });
        $(".arrow-prev").click(function(e) {
          e.preventDefault();
          mySwipe.prev();
        });
        // links nav
        $(".about").click(function(e) {
          e.preventDefault();
          mySwipe.slide(0, 0);
          $('arrow.next').show();
          $("nav.visible-phone li:not('.about')").hide();
          $("nav.visible-phone li.about").show();
          return false;
        })
        $(".portfolio").click(function(e) {
          e.preventDefault();
          mySwipe.slide(1, 0);
          $("nav.visible-phone li:not('.portfolio')").hide();
          $("nav.visible-phone li.portfolio").show();
          return false;
        })
        $(".resume").click(function(e) {
          e.preventDefault();
          mySwipe.slide(2, 0);
          $("nav.visible-phone li:not('.resume')").hide();
          $("nav.visible-phone li.resume").show();
          return false;
        })
        $(".contact").click(function(e) {
          e.preventDefault();
          mySwipe.slide(3, 0);
          $("nav.visible-phone li:not('.contact')").hide();
          $("nav.visible-phone li.contact").show();
          return false;
        })

      });