!!! 5
html(lang="en")
  head
    title ANGELAHPARK
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="/js/swipe.js")
    script(src="/js/angelahpark.js")
    link(rel="shortcut icon", href="/favicon.ico")
  body
    div#construction This site is currently under construction.
    //- header
    //-     nav
    //-         ul
    //-             li.home
    //-               a(href="#home") home
    //-             li.about
    //-                 a(href="#about") about
    //-             li.portfolio
    //-                 a(href="#portfolio") portfolio
    //-             li.contact
    //-                 a(href="#contact") contact
    //- div.main
    //-     block content
    script