mixin portfolio()
	div#content-portfolio.container-fluid
		div.row-fluid
			div.span3
				div.feature-img#yamaha
					a
						div
							|Yamaha Boats and Waverunners Mobile
			div.span3
				div.feature-img#naked
					a
						div
							|Naked Juice -- Drink Good Do Good
			div.span3
				div.feature-img#balloon
					a
						div
							|Balloon
			div.span3
				div.feature-img#kenny-stoff
					a
						div
							|Kenny Stoff
		div.row-fluid
			div.span3
				div.feature-img#omaze
					a
						div
							|Omaze
			div.span3
				div.feature-img#manufactur
					a
						div
							|Manufactur Concept
			div.span3
				div.feature-img#marysia-swim
					a
						div
							|Marysia Swim