mixin portfolio()
	.number.target#portfolio 2
	div#content-portfolio
		h2 portfolio + resume
		div.column-three
			a
				div.portfolio-box(style="background-image:url('images/portfolio/balloon_link.png')")
					.big.title Balloon
		div.column-three
			a
				div.portfolio-box(style="background-image:url('images/portfolio/kenny_link.png')")
		div.column-three
			a
				div.portfolio-box(style="background-image:url('images/portfolio/manufactur_link.jpg')")
		div.column-three
			a
				div.portfolio-box(style="background-image:url('images/portfolio/marysia_link.jpg')")
		div.column-three
			a
				div.portfolio-box(style="background-image:url('images/portfolio/naked_link.gif')")
		div.column-three
			a
				div.portfolio-box(style="background-image:url('images/portfolio/yamaha_link.png')")
		div(style="clear: both;")